<!-- <div class="nav_fit">
  <%# @posts.each do |post| %>
    <div class="product">
      <%# link_to image_tag( post.image), post_path(post) %>
      <h2><%# link_to post.title, post_path(post) %></h2>
    </div>
  <%# end %>

  <div style="clear:both"></div>
</div> -->
<section class="art-coll">
  <h3>Collections of my paintings</h3>
  <p class="sub-coll">my paintings tells about my experiences</p>
  <p class="brush">
    <i class="fa fa-paint-brush" aria-hidden="true"></i>
  </p>
</section>

<div class="container nav_fit">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag( post.image), post_path(post) %>
          <h2><%= link_to post.title, post_path(post) %></h2>
          <%# link_to (image_tag post.image.url(:medium), class: 'image'), post %>
        </div>
      </div>
    <% end %>
  </div>
</div>
