<div class="container nav_fit">


        <div id="about">
          <div class="col-md-9">
            <div class="well">
            <div class="page-header">
              <!-- <h1>Chinyere Odinukwe</h1> -->
            </div> <!-- end page-header -->

            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo-collapse">ARTIST BIO</button>

            <!--<div id="demo-collapse" class="collapse in">
              <p>The Artist is the one who forms the beauty, pain, sorrow, joys, and innumerable human experiences in the mix of pain and brush</p>
            </div>  end collapse -->

            <hr>

            <p class="text-justify">
              Chinyere Odinukwe is a mid-career multi-disciplinary artist armed with a Master of Fine Arts  in painting from the University of Nigeria Nsukka. Her recent corpus of works interrogate patriotism, national identity, culture, communal awareness, insecurity, politics and societal norms on both personal and social levels, her works attempt to delve into the mind of individuals and communities to bring to bear, what their agendas might birth if it was visual.
              Her paintings portray a dramatic kaleidoscope of vibrant warm and complimentary colours  which is also reminiscent of the environmental and global issues she's been faced with in recent times as she struggles to let out the dramatic aspect of her that is concerned about human and environmental sustenance in the long run.
              Her techniques juxtapose domestic and industrial waste materials such as plastics, aluminium products, salvaged Aluminium foil paper, cellophane bags as well as a long list of items that occupy and litter her environment, she agrees with reducing ecological hazard and environmental degradation by using these items to form art and making a strong statement in the process. She has participated in several art exhibitions, workshops and residency program. She currently lives and works in Abuja, Nigeria.
            </p>

            <!-- <a href="#">EMAIL</a> -->
            <%= link_to "RESUME", about_resume_path %>
            </div>
          </div> <!-- end col-md-9 -->


          <div class="col-md-3">
            <img src="<%# asset_path('chinyereOd.png') %>" width="190px"/>
          </div> <!-- end col-md-3 -->
        </div>


      <hr />

      <!--<div id="contact">
        <div class="col-sm-3 col-sm-offset-0">
          <h3 class="page-header">Contact Me</h3>
          <div class="well well1">
          <form role="form" >
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter name" />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" />
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" placeholder="Enter message" ></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          </div>
        </div>
      </div>-->


    </div> <!-- end container -->
