<div class="container nav_fit">
      <div class="row">

        <div class="col-md-9">
          <div class="well">
          <div class="page-header">
            <h1>Professional Information</h1>
            <p class="text-justify">
              Much like all artists claim, I have always enjoyed drawing and creating. After attending the Academy I rediscovered a love of kid's books and entertainment. My art has always been very stylized and simple, working mainly with bold shapes and funny expressions. I draw things that make me laugh, typically animals, robots and kids. My biggest joy is that when people see my work, it at the very least makes them smile.
            </p>
          </div> <!-- end page-header -->

          <div class="page-header">
            <h1>Work Experience</h1>
            <h4 class="panel-title">Real Escape Game -Set Designer​ 2013 - present
            </h4>
            <small class="panel-body">
              Recently graduated from the Academy with my Master's Degree this past Spring. I focused in Children's Book illustration and Visual Development
            </small>

            <h4 class="panel-title">Real Escape Game -Set Designer​ 2013 - present
            </h4>
            <small class="panel-body">
              Recently graduated from the Academy with my Master's Degree this past Spring. I focused in Children's Book illustration and Visual Development
            </small>

          </div> <!-- end page-header -->

          <div class="page-header">
            <h1>Education</h1>
            <h4 class="panel-title">Academy of Art University - MFA Program ​2009 - 2012
            </h4>
            <small class="panel-body">
              Designing and building real life puzzle rooms for a live-action game company.
            </small>

            <h4 class="panel-title">Academy of Art University - BSC Program ​2009 - 2012
            </h4>
            <small class="panel-body">
              Designing and building real life puzzle rooms for a live-action game company.
            </small>

            <h4 class="panel-title">Regina Pacis Girls Secondary School - WAEC Program ​2009 - 2012
            </h4>
            <small class="panel-body">
              Designing and building real life puzzle rooms for a live-action game company.
            </small>
          </div> <!-- end page-header -->
        </div>
        </div> <!-- end col-md-9 -->


        <div class="col-md-3">
          <div class="page-header">
            <h4>Skills</h4>
          </div>
          <div class="list-group">
            <small class="list-group-item">Painting</small>
            <small class="list-group-item">Graphics</small>
            <small class="list-group-item">Video Editing</small>
            <small class="list-group-item">Photoshop</small>
            <small class="list-group-item">Illustrator</small>
            <small class="list-group-item">Tie and Dye</small>
          </div>
        </div> <!-- end col-md-3 -->


      </div> <!-- end row -->
    </div> <!-- end container -->
